html,
body {

  height: 100%;

  padding: 0;
  margin: 0;

  display: flex;

  justify-content: center;
  align-items: center;

  background:
    radial-gradient(
      circle,
      #2a0000,
      #000
    );

  overflow: hidden;

  font-family:
    'Zhi Mang Xing',
    cursive;
}

/* CARD */

.card {

  overflow: hidden;

  margin: auto;

  width: 394px;
  height: 583px;

  border:
    10px solid #d7000f;

  filter:
    drop-shadow(
      3px 3px 6px black
    );

  position: relative;

  background:
    linear-gradient(
      45deg,
      #fdee83,
      #fefcea
    );
}

/* TITLE */

.card-title {

  margin: 0;

  position: absolute;

  top: 30px;
  right: 30px;

  font-size: 60px;

  letter-spacing: 20px;

  writing-mode: vertical-rl;

  color: #d7000f;

  z-index: 5;
}

/* SEAL */

.card-seal {

  width: 80px;
  height: 80px;

  position: absolute;

  bottom: 300px;
  right: 100px;

  background:
    radial-gradient(
      circle,
      #d7000f,
      #8b0000
    );

  border-radius: 50%;

  opacity: 0.7;
}

/* FLOWERS */

.card-flower-petal {

  position: absolute;

  width: 30px;
  height: 30px;

  border-radius: 50%;

  background:
    linear-gradient(
      #DF4554,
      #E16561
    );
}

.petal-1 {
  top: 0;
  left: 0;
}

.petal-2 {
  top: 10px;
  left: 15px;
}

.petal-3 {
  top: 25px;
  left: 10px;
}

.petal-4 {
  top: 25px;
  left: -10px;
}

.petal-5 {
  top: 10px;
  left: -15px;
}

.card-flower-pollen {

  position: absolute;

  width: 6px;
  height: 6px;

  border-radius: 50%;

  background: #fdee83;
}

.pollen-1 {
  top: 18px;
  left: 12px;
}

.pollen-2 {
  top: 22px;
  left: 18px;
}

.pollen-3 {
  top: 29px;
  left: 16px;
}

.pollen-4 {
  top: 29px;
  left: 8px;
}

.pollen-5 {
  top: 22px;
  left: 6px;
}

.card-flower-1 {

  position: relative;

  top: 200px;
  left: 70px;

  transform: rotate(-10deg);
}

.card-flower-2 {

  position: relative;

  top: 50px;
  left: 160px;

  transform:
    rotate(10deg)
    scale(.7);
}

/* GAME WINDOW */

.game-container {

  position: absolute;

  top: 60px;
  left: 25px;

  width: 220px;
  height: 420px;

  overflow-y: auto;

  background:
    rgba(0,0,0,0.8);

  border:
    3px solid #d7000f;

  padding: 18px;

  box-sizing: border-box;

  color: white;

  z-index: 10;

  box-shadow:
    0 0 15px black;

  font-family:
    "Lucida Console",
    monospace;
}

/* TEXT */

#text {

  white-space: pre-line;

  line-height: 1.6;

  font-size: 12px;

  margin-bottom: 20px;
}

/* BUTTONS */

.btn-grid {

  display: flex;

  flex-direction: column;

  gap: 10px;
}

.btn {

  background: #d7000f;

  border:
    2px solid #fdee83;

  padding: 10px;

  color: white;

  cursor: pointer;

  transition: 0.3s;

  font-family:
    "Lucida Console",
    monospace;

  font-size: 12px;
}

.btn:hover {

  background: black;

  color: #fdee83;

  transform: scale(1.03);
}

/* HILLS */

.card-hill {

  position: absolute;

  bottom: 0;
}

.hill-1 {

  width: 250px;
  height: 250px;

  background: #fff;

  border-top:
    10px solid #D9AF64;

  border-right:
    10px solid #D9AF64;

  border-radius:
    0 250px 0 0;
}

.hill-2 {

  right: 0;

  width: 250px;
  height: 250px;

  background: #ffc966;

  border-top:
    10px solid #D9AF64;

  border-left:
    10px solid #D9AF64;

  border-radius:
    250px 0 0 0;
}

.hill-3 {

  width: 394px;
  height: 197px;

  background: #D7000F;

  border-top:
    10px solid #D9AF64;

  border-radius:
    394px 394px 0 0;
}
